.global-container {
    padding: 75px 75px 75px 75px;
}

.avatars-container {
    justify-content: center !important;
}

@media (max-width: 1200px) {
    .global-container {
        padding: 50px 15px 50px 15px;
    }
}

