.intro-container {
    padding: 0 75px;
}

.banner-intro {
    width: 100%;
}

.img-intro {
    width: 250px;
    display: block;
    margin: auto;
}

.img-col {
    width: 350px;
    display: block;
    margin: auto;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #194c92;
    text-align: left;
    align-items: center;
}

.btn-global {
    font-family: 'Inter', sans-serif !important;
    text-transform: capitalize !important;
    background-color: #194C92 !important;
    margin-top: 25px !important;
}

.img-map {
    margin-top: 50px !important;
    width: 100%;
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #333;
    text-align: left;
    align-items: center;
}

span.bolder {
    font-weight: 900;
}

@media (max-width: 769px) {
    .welcome-title {
        font-size: 28px;
        text-align: center;
    }

    .container-intro {
        flex-direction: column-reverse !important;
    }


}

@media (max-width: 1200px) {
    .banner-intro {
        display: none !important;
    }

    .banner-intro-mobile {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .banner-intro-mobile {
        display: none !important;
    }
}